.cart {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.cart-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  margin-top: 20px;
}

.cart-table {
  /* width: 100%; */
  margin: 50px;
  width: 93%;
}

.cart-product table {
  width: 100%;
  border-collapse: collapse;
}

.cart-product th,
.cart-product td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cart-product th {
  background-color: #f2f2f2;
}

.cart-product tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cart-product img {
  display: block;
  margin: 0 auto;
}

.cart-product button {
  cursor: pointer;
}

.cart-product button:hover {
  background-color: #d9534f;
  color: white;
}

.butoon {
  padding: 6px;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: inset;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background-color: #d9534f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: inset;
  border-radius: 6px;
  font-weight: bold;
  background-image: linear-gradient(to right, #5586aa, rgb(133, 189, 229));
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
