# to run the file
 - copy the git repository
 - clone the repository
 - ng serve
 - file will run
 - port will be 4200 deafult
# latest deployment or changes will be in develop branch & main is the stable version

# for node >=16.1 or facing issues with webpack or lsib
 - npm install webpack-dev-server@latest --save-dev npm install querystring@latest --save
 - for lsib you may have to change package.json of node_modles>lsib to this    "./*": "./"

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
