<header>
    <div class="header-title">
      <div style="width: 160px; height: 70px;">
        <img src="../../../assets/logo.png" alt="logo" />
      </div>
      <div style="font-size: 22px; font-weight: bolder;">Demo Project</div>
    </div>
    <div class="header-cart">
      <p routerLink="/cart" class="icon">
        <i
          class="fa-solid fa-cart-plus fa-beat"
          style="color: #86090b; font-size: 30px; z-index: 200;"
        ></i>
      </p>
      <div class="cart-num"  style="color: #4c0506">{{totalItem}}</div>
    </div>
  </header>